<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic API</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel = "icon" href = "logo1.png" type = "image/x-icon">


    <style>
    </style>
</head>

<body>
    {{#if errorMessage}}
    <div class="error-message" id="error-div">
        {{#if color}}
        <div class="alert-success" style="">
            {{else}}
            <div class="error alert-warning" style="">
                {{/if}}
                <p style="margin-right: 15px;margin-bottom:0px">Message: {{errorMessage}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" id="close-btn">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        {{/if}}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="logo1.png" alt="" width="25px" height="30px">
                Tatic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-head" href="https://www.trafficcompany.com/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-head" href="https://www.trafficcompany.com/advertisers">Advertisers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-head" href="https://www.trafficcompany.com/jobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-head" href="https://www.trafficcompany.com/blog">Blog</a>
                    </li>
                    <li class="nav-item special-btn">
                        <a class="nav-link nav-head" href="#">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>

        <section>
            <div class="lottie">
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_msdmfngy.json"
                    background="transparent" speed="1" loop autoplay></lottie-player>
            </div>
            <div class="main">
                <div class="login-box">
                    <h2>Enter PIN</h2>
                    <form action="/verify" method="get">
                        <div class="user-box">
                            <input type="number" name="pin" required="true">
                            <label>PIN*</label>
                        </div>
                        <a href="#">
                            <button type="submit" class="submit-btn">
                                <span></span>
                                <span></span>
                                Verify
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </section>

        <script>
            const closeBtn = document.querySelector("#close-btn");
            const errorDiv = document.querySelector("#error-div");

            closeBtn.addEventListener("click", () => {
                errorDiv.style.display = "none";
            });
            setTimeout(function(){
                errorDiv.style.display = 'none';
            }, 5000);
        </script>

</body>

</html>